#head {
  padding-top: 15px;
	font-size: 2.4em;
	font-weight: bold;
	background: gray;
	height: 70px;
	color: white;
	background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(163,163,163)),
      color-stop(1, rgb(112,108,112))
  );
  background-image: -moz-linear-gradient(
      center bottom,
      rgb(163,163,163) 0%,
      rgb(112,108,112) 100%
  );
}

.navigation {
  background: rgb(163,163,163);
  width: 100%;
  margin-bottom: 2em;
}

.navigation a {
  display: inline-block;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding: 5px;
  background: #0077aa;
}

.navigation a:hover {
  background: #0088bb;
  color: white;
}

.claim {
  font-size: 1.3em;
  font-style: italic;
  margin-top: 1em;
  margin-bottom: 2em;
}