<%= link_to 'Organize a Race', new_race_path %>

<% if @races_organized.any? %>
  <h2>Races Organized</h2>
  <ul class="races_organized">
    <% @races_organized.each do |race| %>
      <li><%= link_to race.name, race %></li>
    <% end %>
  </ul>
<% end %>

<% if @races_run.any? %>
  <h2>Races Run</h2>
  <ul class="races_run">
    <% @races_run.each do |race| %>
      <li><%= link_to race.name, race %></li>
    <% end %>
  </ul>
<% end %>

